
html {
  background-color: #eee;
  padding: 2vh 10vw 30vh;
  font-family: "Fira Sans";
}

input {
  margin: 3px;
}

table, th, td {
   border: 1px solid black;
   padding: 5px;
}

table {
   border-collapse: collapse;
}

input[type="submit"] {
    font-size: 16px;
}
